
<h1>一覧</h1>

<table class="">


  <tbody>
    <% @pictures.each do |picture| %>
      <tr>
        <td><%= picture.title %></td>
        <% if picture.image.url.present? %>
        <td><%= image_tag picture.image.url %></td> 
        <% end %>
        <td><%= picture.content %></td>
        <td><%= picture.user.name %></td>
        <% if logged_in? %>
           <% if current_user.id == picture.user.id %>
            <td><%= link_to 'Show', picture %></td>
            <td><%= link_to 'Edit', edit_picture_path(picture) %></td>
            <td><%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        <% end %>
        <td class="layoutBlock"></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


